<div class="center jumbotron">
  <h1 style= "color:black;"> Alpha Blog</h1>
  <%= link_to "Sign up now", "#", class: "btn btn-danger btn-xlarge" %>
</div>

<%= link_to "Alpha Blog", articles_path %> | <%= link_to "About", about_path %>

<!doctype html>
<html lang="en">
<title> Udemy project </title>
<head>


<meta charset="utf-8">
<meta name="description" content="A page to prac in Udemy">

</head>

<a style="color:red;" href="http://www.w3schools.com">This is a link to w3 html school.</a>
Try it Yourself »

<body> <body style="background-color:green;"></body> <h1> Page Content</h1>
<h2>Erick</h2>
<p><em> Erick Gracianes el mas</em> is simply a beast born in Mexico who later moved to America and started several successful programs that made him residual income  of several millions a year and later went on to help start Oracels main competitor</p><br/><hr>
<h2> Luis </h2>
<p><i>Luis C.</i> worked with erick and later joined in the field and became a very helful asset in the fortune</p><br/><hr>

<h2>Hmm. let me use the pre tag</h2>
<pre>Erick is pretty damn cool is what most people would agree with.

	That is simply what most would call a fact. 

	Or atleast i hope...</pre>

	<h1 style="font-family:verdana;">Just testing the font tag</h1>
	<p style="color:orange;">erick</p>
	<p style="font-size:20%;">testing the font size.</p>
	<br/>

	<p style="text-align:center;"><mark style="color:red;">Testing the location of the text.</mark></p>

	<h1>3 <sup>2<sup> is equal to 9</h1>

	<p> &quot; where &quot; &amp; &lt; now displaying image "nooooo" <br> </p>
</body>
</hmtl>



